/* Custom */
@import "block/custom";

/* Libs */
@import "utils/libs";

/* Utils */
@import "utils/fonts";
@import "utils/vars";
@import "utils/keyframes";
@import "utils/mixins";

/* General */
@import "block/general";

/* Blocks */
@import "block/header";
@import "block/hero";
@import "block/about";
@import "block/relax";
@import "block/prices";
@import "block/why-us";
@import "block/team";
@import "block/gallery";
@import "block/contacts";
@import "block/information";
@import "block/preloader";
@import "block/footer";