@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
  url('../font/Montserrat-Regular.woff2') format('woff2'),
  url('../font/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apex Mk3';
  src: local('Apex Mk3-Medium'),
  url('../font/Apex Mk3-Medium.woff2') format('woff2'),
  url('../font/Apex Mk3-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}