$base-font-size: 16px;
$content-size: 1200px;
$font-family: 'Montserrat', Arial, sans-serif;

/* Colors */

$color-violet: #AE32B9;
$color-gold: #96885f;
$color-grey: #6D6D6D;
$color-white: #FFFFFF;
$color-black: #000000;