.header {
  position: absolute;
  width: 100%;
  padding: 30px 0;
  transition: .2s ease;
  z-index: 99;

  @include media-breakpoint-down(lg) {
    height: auto;
    overflow: hidden;
    z-index: 99;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 3px 5px rgb(0 0 0 / 40%);
    background: #2a2a2a;

    .header__logo {
      top: 5px;
      width: 80px;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__logo {
    position: absolute;
    left: 0;
    top: -10px;
    width: 130px;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 0;
  }
}