.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  color: $color-white;

  &__content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    z-index: 5;
  }

  &__title {
    font-size: 110px;
    position: relative;
    margin-bottom: 80px;

    &::after {
      content: '';
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 2px;
      background: $color-white;
    }

    span {
      color: $color-gold;
    }
  }

  &__description {
    font-size: 30px;
    margin-bottom: 100px;
  }

  &__contacts {
    margin-bottom: 100px;
  }

  &__phone {
    font-size: 50px;
    margin-bottom: 20px;
  }

  &__address {
    font-size: 22px;
  }

  &__video-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.8);
    }

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}