.relax {
  background: url("../img/relax-bg.png") center/cover no-repeat;

  &__card {
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }

    &-img {
      margin-bottom: 25px;

      @include media-breakpoint-down(xs) {
        max-width: 120px;
      }
    }

    &-title {
      color: $color-gold;
      margin-bottom: 0;
      font-size: 22px;
      line-height: 30px;
      text-transform: uppercase;
    }
  }
}