extends layout/app

block variables
    - var title = 'Vosk Barbershop'
    - var pageClass = 'home-page'

block page
    include chunk/hero
    include chunk/about
    include chunk/relax
    include chunk/prices
    include chunk/why-us
    include chunk/team
    include chunk/gallery
    include chunk/contacts
    include chunk/information