section.section.about
    .container
        .row.align-items-lg-center
            .col-lg-6
                .about__img-wrapper
                    img.about__img(src="./img/about.jpg" alt="Про нас")
            .col-lg-6
                .about__content
                    h2.section__title.about__title ПРО #[span.text-gold НАС]
                    p Vosk – чоловіча перукарня, в якій працює команда сертифікованих експертів у сфері чоловічих стрижок та укладок. Якщо ви шукаєте барбершоп у Києві, перукарям якого можна довіряти, ви зайшли за вірною адресою. Ми розуміємо, наскільки важливим є результат нашої роботи, тому беремо на себе повну відповідальність за ваш зовнішній вигляд. Гарантуємо, що ви залишитеся задоволеними та повернетеся до нас ще не раз.
                    p Наші майстри уважно вислуховують побажання клієнта, при цьому враховують особливості будови голови та тип волосся у кожному конкретному випадку. Ви можете бути впевнені, що чоловічий перукар зробить стрижку, укладку або оформлення бороди саме так, як ви собі уявляли.
                    p Важлива відмінність нашого барбершопу від звичайної перукарні – атмосфера чоловічого клубу. Тут до будь-якого відвідувача ставляться як до найкращого товариша. Це місце, де чоловіки зустрічаються, щоб обговорити останні новини, роботу, політику, випити чашечку кави або чаю та навіть пограти у Sony PS5.