section.section.contacts#contacts
    .container
        .row
            .col-lg-4.contacts__card-container
                .contacts__card
                    h3.contacts__card-title АДРЕСА
                    p.contacts__card-text вул. Рейтарська 16, м. Київ, Україна
            .col-lg-4.contacts__card-container
                .contacts__card
                    h3.contacts__card-title КОНТАКТИ
                    p.contacts__card-text 063-066-16-16
            .col-lg-4.contacts__card-container
                .contacts__card
                    h3.contacts__card-title ГРАФIК
                    p.contacts__card-text Пн – Нд: 10:00 – 21:00
    .container-fluid
        .row
            .col
                .contacts__map
                    iframe(loading='lazy' src='https://maps.google.com/maps?q=%D1%83%D0%BB.%20%D0%A0%D0%B5%D0%B9%D1%82%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F%2016%20%D0%B3.%20%D0%9A%D0%B8%D0%B5%D0%B2%2C%20%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&t=m&z=16&output=embed&iwloc=near' title='ул. Рейтарская 16 г. Киев, Украина' aria-label='ул. Рейтарская 16 г. Киев, Украина' data-lazy-src='https://maps.google.com/maps?q=%D1%83%D0%BB.%20%D0%A0%D0%B5%D0%B9%D1%82%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F%2016%20%D0%B3.%20%D0%9A%D0%B8%D0%B5%D0%B2%2C%20%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&t=m&z=16&output=embed&iwloc=near' data-gtm-yt-inspected-10='true' data-ll-status='loaded')