footer.footer
    .container
        .row
            .col
                .footer__inner
                    .footer__contacts
                        .footer__contacts-item
                            img.footer__contacts-img(src="./img/marker.svg" alt="вул. Рейтарська 16, Київ")
                            h3.footer__contacts-text вул. Рейтарська 16, Київ
                        .footer__contacts-item
                            img.footer__contacts-img(src="./img/phone.svg" alt="063 066 16 16")
                            h3.footer__contacts-text 063 066 16 16
                    .footer__info
                        p.footer__info-text VOSK © 2024. Всі права захищено