section.section.gallery
    .row.no-gutters
        .col
            .gallery__list
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-1.jpeg")
                    img.gallery__item-img(src="./img/gallery-1.jpeg" alt="1")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-2.jpeg")
                    img.gallery__item-img(src="./img/gallery-2.jpeg" alt="2")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-3.jpeg")
                    img.gallery__item-img(src="./img/gallery-3.jpeg" alt="3")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-4.jpeg")
                    img.gallery__item-img(src="./img/gallery-4.jpeg" alt="4")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-5.jpeg")
                    img.gallery__item-img(src="./img/gallery-5.jpeg" alt="5")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-6.jpeg")
                    img.gallery__item-img(src="./img/gallery-6.jpeg" alt="6")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-7.jpeg")
                    img.gallery__item-img(src="./img/gallery-7.jpeg" alt="7")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-8.jpeg")
                    img.gallery__item-img(src="./img/gallery-8.jpeg" alt="8")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-9.jpeg")
                    img.gallery__item-img(src="./img/gallery-9.jpeg" alt="9")
                a.gallery__item(data-fslightbox="gallery" href="./img/gallery-10.jpeg")
                    img.gallery__item-img(src="./img/gallery-10.jpeg" alt="10")