header.header
    .container
        .header__inner
            a.logo.header__logo(href="/")
                img.logo__img(src="./img/logo.png" alt="Vosk Barbershop")
            nav.nav
                ul.nav__list
                    li.nav__list-item
                        a.nav__list-link(href="/") Головна
                    li.nav__list-item
                        a.nav__list-link(href="#") Послуги
                    li.nav__list-item
                        a.nav__list-link(href="#") Про нас
                    li.nav__list-item
                        a.nav__list-link(href="#") Команда
                    li.nav__list-item
                        a.nav__list-link(href="#") Контакти