section.hero
    .container
        .row
            .col
                .hero__content
                    h1.hero__title #[span BARBERSHOP] VOSK
                    p.hero__description Один такий заклад у всьому світі!
                    .hero__contacts
                        p.hero__phone 063-066-16-16
                        p.hero__address вул. Рейтарська 16, Київ
    .hero__video-container
        video(autoplay loop muted)
            source(src="./video/video-1.mp4" type="video/mp4")