section.section.information
    .container
        .row
            .col
                .information__content
                    h2.section__title.information__title БАРБЕРШОП VOSK – МИ №1 У КИЄВI
                    p.information__text Барбершоп VOSK – команда професіоналів, які знають все про чоловічі зачіски, стрижки та укладання. Сертифіковані фахівці точно знають всі нюанси роботи з чоловічим волоссям і готові взяти на себе всю відповідальність за ваш образ. Шукайте барбершоп у Києві? Ми чекаємо на вас у VOSK – перукарні, в якій працюють справжні профі.
                    h2.section__title.information__title VOSK – ГАРАНТОВАНИЙ СТИЛЬ ТА IНДИВIДУАЛЬНИЙ ПIДХIД
                    p.information__text Чоловіча зачіска схильна до впливу модних трендів не менше, ніж жіночі образи. Тим не менш, ми не застосовуємо узагальнений підхід при створенні укладання клієнтам, адже при підборі зачіски необхідно враховувати важливі фактори:
                    ul.information__list
                        li.information__item особливості будови (форми) голови;
                        li.information__item тип волосся, їх товщину структуру;
                        li.information__item побажання клієнта, звичний йому образ.
                    p.information__text Результат такого підходу – саме та зачіска або укладання бороди, яку ви хотіли і яка вам точно йде.
                    h2.section__title.information__title БАРБЕРШОП – ЦЕ НЕ ПРОСТО ПЕРУКАРНЯ
                    p.information__text Яке завдання стоїть перед чоловічим майстром у звичайній перукарні чи салоні краси? Як правило – виконати побажання клієнта та змінити його зачіску (підстригти та укласти бороду, вуса – залежно від індивідуальних потреб). Приходячи в барбершоп, ви потрапляєте в справжній чоловічий клуб, наповнений дружньою атмосферою. У VOSK приходять чоловіки не просто підстригтися. Тут можна обговорити останні новини, поділитися здобутками, випити чашку ароматної кави чи чаю. А для любителів провести час весело та з азартом ми встановили Sony ps4.