section.section.prices
    .container
        .row
            .col
                .prices__content
                    .prices__heading
                        h2.section__title.prices__title ПОСЛУГИ #[span.text-gold / ЦIНИ]
                    .prices__list
                        .prices__item.prices__item--header
                            h3.prices__item-name Послуга
                            h3.prices__item-price ТОП Барбер
                        .prices__item
                            .prices__item-name Чоловіча стрижка
                            .prices__item-price 800₴ / 1000₴
                        .prices__item
                            .prices__item-name Стрижка бороди та вусів
                            .prices__item-price 500₴ / 600₴
                        .prices__item
                            .prices__item-name Комбо (стрижка + борода)
                            .prices__item-price 1200₴ / 1500₴
                        .prices__item
                            .prices__item-name Стрижка під насадку + борода
                            .prices__item-price 900₴ / 1100₴
                        .prices__item
                            .prices__item-name Подовжене волосся
                            .prices__item-price 1000₴ / 1200₴
                        .prices__item
                            .prices__item-name Стрижка під насадку
                            .prices__item-price 500₴ / 600₴
                        .prices__item
                            .prices__item-name Преміум догляд за обличчям від Depot
                            .prices__item-price 1100₴
                        .prices__item
                            .prices__item-name Камуфлювання сивини
                            .prices__item-price 500₴-1000₴
                        .prices__item
                            .prices__item-name Укладка волосся
                            .prices__item-price 250₴