section.section.relax
    .container
        .row
            .col-lg-4
                .relax__card
                    img.relax__card-img(src="./img/whiskey.png" alt="Міцні напої")
                    p.relax__card-title міцні#[br]напої
            .col-lg-4
                .relax__card
                    img.relax__card-img(src="./img/coffee.png" alt="Кава, чай")
                    p.relax__card-title кава#[br]чай
            .col-lg-4
                .relax__card
                    img.relax__card-img(src="./img/ps4-controller.png" alt="Ігрова приставка")
                    p.relax__card-title ігрова#[br]приставка