section.section.team#team
    .container-fluid
        .row
            .col
                .team__heading
                    h2.section__title.team__title #[span.text-gold наша] команда
        .row
            .col-lg-3
                .team__card
                    img.team__card-img(src="./img/team-1.jpg" alt="Ігор")
                    h3.team__card-name IГОР
            .col-lg-3
                .team__card
                    img.team__card-img(src="./img/team-2.jpg" alt="Павло")
                    h3.team__card-name ПАВЛО
            .col-lg-3
                .team__card
                    img.team__card-img(src="./img/team-3.jpg" alt="Влад")
                    h3.team__card-name ВЛАД
            .col-lg-3
                .team__card
                    img.team__card-img(src="./img/team-4.jpg" alt="Сергій")
                    h3.team__card-name СЕРГIЙ