section.section.why-us
    .row.align-items-lg-center.no-gutters.why-us__row
        .col-lg-6
            .why-us__content
                h2.section__title.why-us__title #[span.text-gold Чому] VOSK?
                ul.why-us__list
                    li.why-us__item ми зробимо ідеальну стрижку, продемонструвавши майстерну роботу ножиць і машинки
                    li.why-us__item творчо голимо обличчя і голову
                    li.why-us__item скорегуємо форму бороди і доведемо її до досконалості
                    li.why-us__item граючи підстрижемо маленьких мужчин
                    li.why-us__item знаємо толк в чоловічій красі і брутальності
        .col-lg-6
            .why-us__img-wrapper
                img.why-us__img(src="./img/why-us.jpg" alt="Чому Vosk?")